<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<%= form_for 'image', method: :get, remote: true do |f| %>
	<%= f.label :registration %>
	<%= f.text_field :registration %>
	<%= f.label :reference %>
	<%= f.text_field :reference %>
	<%= f.submit 'Show images' %>
<% end %>

<div id="images">

</div>
