<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<%= form_for Image.new, remote: true do |f| %>
	<%= f.label :registration %>
	<%= f.text_field :registration %>
	<%= f.label :reference %>
	<%= f.text_field :reference %>
	<%= f.submit 'Show images' %>
<% end %>

<div id="images">

</div>

<!--<table>-->
  <!--<thead>-->
  <!--<tr>-->
	<!--<th>Index</th>-->
	<!--<th>Show</th>-->
	<!--<th colspan="3"></th>-->
  <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
  <!--< @images.each do |image| %>-->
	  <!--<tr>-->
		<!--<td><= image.index %></td>-->
		<!--<td><= image.show %></td>-->
		<!--<td><= link_to 'Show', image %></td>-->
		<!--<td><= link_to 'Edit', edit_image_path(image) %></td>-->
		<!--<td><= link_to 'Destroy', image, method: :delete, data: {confirm: 'Are you sure?' } %></td>-->
	  <!--</tr>-->
  <!--< end %>-->
  <!--</tbody>-->
<!--</table>-->

<!--<br>-->

<!--<= link_to 'New Image', new_image_path %>-->
