<%= form_for 'image', url: '/images', method: :get, remote: true, authenticity_token: true do |f| %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<%= f.label :registration_number %>
	<%= f.text_field :registration %>
	<%= f.label :stock_reference_number %>
	<%= f.text_field :reference %>
	<%= f.submit 'Show images' %>
<% end %>

<div id="images">
<% if @image %>
	  <% cache(@image) do %>
		  <% if @image.valid? %>
			  <%= render partial: 'images', locals: {images: @image.candidate_images_cached} %>
		  <% else %>
			  <%= @image.errors.full_messages.join(',') %>
		  <% end %>
	  <% end %>
<% end %>
</div>
