<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @image.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @image.show %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
